html {
    font-family: "Open Sans";
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: #CCD8E7;
}


/*--------------- header css ---------------*/
header nav.header-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFFFFF;
    height: 127px;
}
header nav.header-nav .header-nav-logo{
    margin: auto;
    text-align: center;
}
header nav.header-nav .header-nav-text-link{
    margin: auto;
}
header nav.header-nav .header-nav-link  {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    text-align: center;
}
header nav.header-nav .header-nav-link .link-home {
    padding-right: 20px;
}
header nav.header-nav .header-nav-link a {
    color: #333333;
    text-decoration: none;
}
header nav.header-nav .header-nav-link a:hover {
    color: #0051FF;
}

/*--------------- Main css ---------------*/
main{
}
main section{
    position: relative;
}
main section.main-pay-texts .text-pay {
    font-family: Montserrat;
    font-weight:900;
    font-size: 8.8rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: #EBF0F5;
    opacity: 0.24;
    display: flex;
}
main section.main-pay-texts .text-pay-portal {
    font-weight: 700;
    font-size: 3.5rem;
    color: #0051FF;
    line-height : 30px;
    margin: auto;
    text-align: center;
}
main section.main-pay-texts .text-pay-info {
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: #777777;
}

main .main-pay-texts .text-pay-portal {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
main .main-pay-form {
    margin: 20px 30px 25px 45px;
    font-family: "Open Sans";
    font-size: 1.6rem;
    color: #777777;
}
main .main-pay-form input, main .main-pay-form label{
    box-sizing: border-box;
    width: 100%;
}
main .main-pay-form input {
    background-color: #CCD8E7;
    border: 1px solid #B3B5B7;
}
main .main-pay-form label {
    padding: 5px 0;
}
main .main-pay-form button{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 40px;
    font-size: 1.7rem;
    background-color: #0051FF;
    border-color: #0051FF;
    color: #FFFFFF;
}

/*--------------- Footer ---------------*/
footer{
    background-color:#333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #CCCCCC;
}
footer .footer-container .footer-logo img{
    margin: 40px 0 30px;
}
footer .footer-container .footer-logo .footer-logo-contact{
    margin: 5px auto 20px;
}
footer .footer-container .footer-logo .footer-logo-contact p{
    line-height : 10px;
}
footer .footer-container .footer-logo .footer-politics a{
    text-decoration: none;
    color: #CCCCCC;
}
footer .footer-container .footer-logo .footer-politics a:hover{
    color: #0051FF;

}
footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    position: initial;
}
footer .footer-container section{
    margin: 0 20px 20px;
}
footer .footer-rights {
    margin: 20px 0 10px;
    font-size: 1.3rem;
}


/*--------------- Medias ---------------*/

@media (min-width: 620px) {
    main {
        min-width: 550px;
        max-width: 760px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    main .main-pay-form form label {
        display: flex;
        flex-direction: row;
    }

    main .main-pay-form form label span{
        width: 400px;
    }

    /** footer **/
    footer .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}
